/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0px 60px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;    
    margin: -30px 0px 0px 0px;
    font-size: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border: 0;

}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../../assets/arrow-left.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("../../assets/arrow-right.svg") 0 0 / 100% no-repeat;
}


.slider .slick-disabled{
    opacity: 0.2
}



.slider__item {
    margin-left: 60px;
    transition: all 0.3 linear 0s;
}


.slider_section_mobile{
    margin-bottom: 20px;
}