.history-empty {
    flex-direction: column;
    margin-top: 10vh;
}

.history-empty-content {
    margin-top: 5vh;
    display: flex;
    justify-self: center;
    align-items: center;
}

.history-empty-text{
    text-align: center;
    font-size: calc(24px + 4 * (100vw/1903));
}

.history-icon {
    background: url("../../assets/historyEmpty.svg") 0 0 / 100% no-repeat;
    width: 200px;
    height: 200px;
    margin-left: 3vw;
}

@media (max-width: 600px){
    .history-icon{
        display: none;
    }
}

.complitedOrderItem {
    margin: 40px 0px 20px 0px;
    width: 100%;
    /* max-height: 120px; */
    border: 1px solid #962A4A;
    padding: 20px 20px 20px 20px;
}

.complitedOrderProductItem {
    border: 1px green solid;
    margin: 20px 40px 20px 0px;
}

.historyOrder-title{
    font-size: calc(28px + 2 * (100vw/1903));
}

.historyOrder-text{
    font-size: calc(14px + 2 * (100vw/1903));
}