.map_box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    z-index: 0;
}

.map {
    position: relative;
    z-index: 4;
    display: flex;
    margin: auto;
    margin-top: 7vh;
    width: 60vw;
    height: 60vh;

    background-color: #f6f6f6;
}
@media (max-width: 1299px) {
    .map {
        width: 780px;
        height: 502px;
    }
}
@media (max-width: 799px) {
    .map {
        margin-top: 0;
        width: 100vw;
        height: 100vh;
    }
    

}
.ymap_box {
    width: 100%;
    height: 100%;
}

.search_map_box  {
    width: 100%;
    height: 4vw;
    min-height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_map_content {
    width: 80%;
}

.search_content_input {
    width: 100%;
    height: 40px;
    min-height: 31px;
    border: 1px solid #F5376E;
    border-radius: 29px 0 0 29px;
    border-right: 0;
    outline: none;
    height: 2.1vw;
}

.search_submit_btn {
    color: #F5376E;
    font-weight: 500;
    font-size: calc(12px + 6 * (100vw/1903));
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #F5376E;
    border-radius: 0 29px 29px 0;
    width: 5vw;
    height: 2.1vw;
    min-height: 31px;
    min-width: 47px;
}

.close_btn {
    color: #F5376E;
    font-weight: 400;
    font-size: calc(12px + 6 * (100vw/1903));
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #F5376E;
    border-radius: 15px;
    width: 9vw;
    height: 2.1vw;
    min-height: 31px;
    min-width: 77px;
}

.search_submit_btn:hover {
    box-shadow: inset 1px 1px 5px 1px rgb(164, 164, 164);
}