.order_stages_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.order_stages_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
    font-size: calc(14px + 4 *(100vw/1903));
}

.order_stages_breakpoint_wrapper {
    width: 135px;
    height: 135px;
    background-color: #D9D9D9;
    border-radius: 50%;
    padding: 25px;
}

.order_stages_breakpoint_confirmFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background: url('../../../assets/order-confirm.svg') 0 0 / 100% no-repeat;
}

.order_stages_breakpoint_confirmTrue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background: url('../../../assets/orderStages-confirmed.svg') 0 0 / 100% no-repeat;
}

.order_stage_dots {
    background: #666;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 25px;
    margin-bottom: 50px;
    /* margin-bottom: 100px; */
}

.order_stages_breakpoint_packingFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background: url('../../../assets/orderStages-packing.svg') 0 0 / 100% no-repeat;
}

.order_stages_breakpoint_deliveryFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background: url('../../../assets/orderStages-delivery.svg') 0 0 / 100% no-repeat;
}

.order_stages_downContent {
    border: 3px solid #f1f1f1;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-between;
    min-height: 500px;
}

.order_stages_downContent_left {
    margin: 10px;
    padding: 10px;
    border-radius: 0.375rem;
    width: 900px;
    background-color: #ffffff;
}

.order_stages_downContent_right {
    font-size: calc(12px + 8 * (100vw/1903));
    margin: 10px;
    padding: 15px;
    border-radius: 0.375rem;
    width: 300px;
    background-color: #ffffff;
}

.order_stages_downContent_order_number {
    display: flex;
    justify-content: space-between;
}

.order_stages_downContent_adres {
    display: flex;
}

.order_stages_downContent_comment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order_stages_downContent_tel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn_edit_order_comment {
    border: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
    background: url("../../../assets/comment-edit.svg") 0 0 / 80% no-repeat;
    background-position: center;
    background-color: #BF486A !important;
}

.btn_edit_order_comment:active,
.btn_edit_order_comment:hover {
    background-color: #9c3d58 !important;
}

.order_stages_downContent_comment_text {
    display: flex;
    max-width: 300px;
}

.btn_cancel_order{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: 500;
    background-color: #acacac;
    color: #2c3034;
}

.btn_cancel_order:hover,
.btn_cancel_order:active{
    background-color: #9c3d58 !important;
}