.order_products_check {
    box-sizing: border-box;
    width: 40vw;
    height: fit-content;
}

.order_product_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    border: 1px solid teal;

}

.order_product_card_image_box {
    height: 100%;
    width: 30%;
}