* {
    margin: 0;
    padding: 0;
}

.order_products_check {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.order_products_check_list {
    width: 100%;
    overflow-y: scroll;
}

.order_product_card {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.order-product-image {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
}

.order-product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.order-product-text {
    width: 100px;
    font-size: calc(12px + 8 * (100vw/1903));
    margin-right: 40px;
}

.checkbox-content {
    margin-right: 30px;
}

.checkbox-label {
    font-size: calc(12px + 2 * (100vw/1903));
}

.order_page_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.page_form_check_box {
    /* justify-self: flex-start; */
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 70vh;
}


.form_check_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.form_check_order_section {
    font-size: calc(14px + 6 * (100vw/1903));
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 15%;
}

.form_check_order_section_comment {
    font-size: calc(14px + 6 * (100vw/1903));
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 35%;
}

.form_check_order_section_input {
    padding-left: 3%;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none !important;
    box-shadow: none !important;
}

.form_check_order_section_textarea {
    padding-left: 3%;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none !important;
    box-shadow: none !important;
    min-height: 100%;
}

.form_check_order_section_textarea:active,
.form_check_order_section_textarea:focus {
    border: 1px solid #F5376E !important;
}

.form_check_order_section_input:active,
.form_check_order_section_input:focus {
    border: 1px solid #F5376E !important;
}

.order_products_accept_btn {
    background-color: #F5376E;
    color: white;
    border: none;
    border-radius: 29px;
    height: 10%;
    width: 40%;
    transition: all 300ms ease-in-out;
}

.order_products_accept_btn:disabled,
.order_products_accept_btn:disabled:hover {
    background-color: #f5376d8e;
    color: white;
}

.order_products_accept_btn:hover {
    background-color: #f3f3f3;
    color: #F5376E;
    transition: all 300ms ease-in-out;
}

.order_products_check_btns {
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.order_products_check_submit_btn {
    background-color: #F5376E;
    color: white;
    border: none;
    border-radius: 29px;
    height: 2vw;
    width: 25%;
    transition: all 300ms ease-in-out;
}

.order_products_check_error_btn {
    background-color: #ff709a;
    color: white;
    border: none;
    border-radius: 29px;
    height: 2vw;
    width: 35%;
    transition: all 300ms ease-in-out;
}

.order_products_check_box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(16px + 4 * (100vw/1903));
    padding: 20px;
}

.btn-returnToBasket {
    margin-top: 10px;
    background-color: #ED789A;
    font-size: calc(12px + 4 * (100vw/1903));
    border: 0;
    width: calc(150px + 8 * (100vw/1903));
    height: calc(35px + 8 * (100vw/1903));
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-returnToBasket:active,
.btn-returnToBasket:hover {
    background-color: #962a4a !important;
    color: white;
}