.border-success{
    border: 3px solid  #198754;
}

.border-danger{
    border: 3px solid #ffc107;
}

.border-warning{
    border: 3px solid #dc3545;
}
.feedback_textbox{
    background-color:rgba(178, 178, 178, 0.2);
    /* border: 1px solid black; */
}

.feedback-max-size-window{
    min-height: 600px; 
    /* min-height: 100px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.accept-change{
    background-color: #962A4A;
    border: 0;
}

.accept-change:hover{
    background-color: #6d2037 !important;
}