@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.footer_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 230px;
    background: #962A4A;
    background-image: url("../assets/footer-bg1.png");
}

.footer-text-left {
    font-size: 36px;
    font-family: 'Montserrat';
    color: white;
    float: left;
    opacity: 95%;
    font-weight: 600;
    margin-right: 80px;
}

.footer-content-right {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    float: right;
    color: white;
    opacity: 90%;

}

.footer-phone-content {
    width: 170px;
}

.footer-social-content {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tgButton {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin-top: 0.5vh;
}

.tgButton:active {
    background-color: #ffffff !important;
}

.tgButton:hover {
    background-color: white;
}

.tgButton:hover .tgIcon {
    fill: #f0326b;
}

.textSocial {
    font-family: 'Montserrat';
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.numb {
    font-family: 'Inter';
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
}

.numbText {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.numb,
.numbText {
    display: inline-block;
    width: 100%;
}

.footer-content-center {
    justify-content: center;
    color: white;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    margin-top: 170px;
    margin-bottom: auto;
    opacity: 90%;
    margin-right: 100px;
}



@media (min-width: 1200px) and (max-width: 1599px) {
    .footer-text-left {
        font-size: 28px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-right: calc(-5%);
    }

    .footer-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        color: white;
        font-family: "Montserrat";
        font-size: 16px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        white-space: nowrap;
        position: relative;   
        right: calc(30%);     
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-bottom: 25px;
        position: absolute;
        right: calc(10%);
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    .numb {
        font-family: 'Inter';
        font-size: 16px;
        color: white;
        text-decoration: none;
        width: 100%;
    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 16px;
        color: white;
        text-decoration: none;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .footer-text-left {
        font-size: 24px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-right: calc(-10%);
    }

    .footer-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        color: white;
        font-family: "Montserrat";
        font-size: 14px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        white-space: nowrap;
        position: relative;   
        right: calc(20%);     
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-bottom: 75px;
        position: absolute;
        right: calc(30%);
    }
    .textSocial {
        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .numb {
        font-family: 'Inter';
        font-size: 14px;
        color: white;
        text-decoration: none;
        width: 100%;
    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-text-left {
        font-size: 24px;
        font-family: 'Montserrat';
        color: white;
        opacity: 95%;
        position: relative;
        right: calc(-60%);
    }

    .footer-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: auto;
        color: white;
        font-family: "Montserrat";
        font-size: 14px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        white-space: nowrap;   
        position: relative;
        right: calc(5%);     
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-bottom: 25px;
        position: absolute;
        right: calc(15%);
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .numb {
        font-family: 'Inter';
        font-size: 14px;
        color: white;
        text-decoration: none;
        width: 100%;
    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }
}

@media (min-width: 660px) and (max-width: 766px) {
    .footer-text-left {
        font-size: 20px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-left: 200px;

    }

    .footer-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        white-space: nowrap;
        position: relative;
        right: calc(10%);
        
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-bottom: 25px ;
        position: absolute;
        right: calc(15%);
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;

    }

    .numb {
        font-family: 'Inter';
        font-size: 12px;
        color: white;
        text-decoration: none;
        width: 100%;

    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }
}

@media (min-width: 576px) and (max-width: 659px) {
    .footer-text-left {
        font-size: 20px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-left: 150px;
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-right: 600px;
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;

    }

    .numb {
        font-family: 'Inter';
        font-size: 12px;
        color: white;
        text-decoration: none;
        width: 100%;

    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }

    .footer-content-center {
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        margin-right: 0px;
    }
}


@media (max-width: 575px) {
    .footer-text-left {
        font-size: 20px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-right: calc(50%);
        margin-bottom: 120px;
    }

    .footer-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        white-space: nowrap;
        position: relative;
        right: calc(70%);
        
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-bottom: 75px;
        position: absolute;
        right: calc(-60%);
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;

    }

    .numb {
        font-family: 'Inter';
        font-size: 12px;
        color: white;
        text-decoration: none;
        width: 100%;

    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 420px) {
    .footer-text-left {
        font-size: 20px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-right: calc(40%);
        margin-bottom: 120px;
    }

    .footer-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        white-space: nowrap;
        position: relative;
        right: calc(80%);
        
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-bottom: 50px;
        position: absolute;
        right: calc(-50%);
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;

    }

    .numb {
        font-family: 'Inter';
        font-size: 12px;
        color: white;
        text-decoration: none;
        width: 100%;

    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;
    }
}