@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.footer_wrapper {
    position: relative;
    width: auto;
    height: 230px;
    background-image: url("../images/footer-bg.svg");
}

.footer-text-left {
    font-size: 36px;
    font-family: 'Montserrat';
    color: white;
    float: left;
    opacity: 95%;
    font-weight: 600;
    margin-right: 80px;
}

.footer-content-right {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    float: right;
    color: white;
    opacity: 90%;

}

.footer-phone-content {
    width: 170px;
}

.footer-social-content {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tgButton {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin-top: 0.5vh;
}

.tgButton:active {
    background-color: #ffffff !important;
}

.tgButton:hover {
    background-color: white;
}

.tgButton:hover .tgIcon {
    fill: #f0326b;
}

.textSocial {
    font-family: 'Montserrat';
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.numb {
    font-family: 'Inter';
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
}

.numbText {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.numb,
.numbText {
    display: inline-block;
    width: 100%;
}

.footer-content-center {
    justify-content: center;
    color: white;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    margin-top: 170px;
    margin-bottom: auto;
    opacity: 90%;
    margin-right: 100px;
}



@media (min-width: 1200px) and (max-width: 1599) {
    .footer-text-left {
        font-size: 30px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-left: 80px;
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-right: 100px;
    
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 18px;
        color: white;
        text-decoration: none;
    }

    .numb {
        font-family: 'Inter';
        font-size: 16px;
        color: white;
        text-decoration: none;
        width: 100%;
    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 18px;
        color: white;
        text-decoration: none;
    }

    .footer-content-center {
        color: white;
        font-family: "Montserrat";
        font-size: 16px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        margin-right: 0 !important;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .footer-text-left {
        font-size: 24px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        font-size: 600;
        margin-left: 100px;
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-right: 200px;
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .numb {
        font-family: 'Inter';
        font-size: 14px;
        color: white;
        text-decoration: none;
        width: 100%;
    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .footer-content-center {
        color: white;
        font-family: "Montserrat";
        font-size: 14px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        margin-right: 70px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-text-left {
        font-size: 24px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-left: 110px;
    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-right: 100px;
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .numb {
        font-family: 'Inter';
        font-size: 14px;
        color: white;
        text-decoration: none;
        width: 100%;
    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    .footer-content-center {
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 480px) and (max-width: 766px) {
    .footer-text-left {
        font-size: 24px;
        font-family: 'Montserrat';
        color: white;
        float: left;
        opacity: 95%;
        margin-left: 50px;

    }

    .footer-content-right {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        float: right;
        color: white;
        opacity: 90%;
        margin-right: 400px ;
    }

    .textSocial {
        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;
        
    }

    .numb {
        font-family: 'Inter';
        font-size: 12px;
        color: white;
        text-decoration: none;
        width: 100%;

    }

    .numbText {

        font-family: 'Montserrat';
        font-size: 12px;
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }

    .footer-content-center {
        color: white;
        font-family: "Montserrat";
        font-size: 10px;
        margin-top: 170px;
        margin-bottom: auto;
        opacity: 90%;
        margin-right: 50px;
    }
}