@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Montserrat';
}


.footer-wrapper{
    background: url("../assets/footer-bg.svg") no-repeat;
    background-color: #832440;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

.footer-left-content{
    position: absolute;
    left: 0;
    margin-left: calc(100% - 85%);
    color: white;
    font-size: 36px;
    background: url("../assets/uralskiy_text.svg") no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 200px;
    height: 220px;
}

.footer-center-content{
    color: white;
    margin: 170px 0 0 0;
    font-size: 16px;
}

.footer-right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: calc(100% - 95%);
    color: white;
    position: absolute;
    right: 0;
}

.tgButton {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    margin-top: 0.5vh;
    margin-bottom: 10px;
}

.tgButton:active {
    background-color: #ffffff !important;
}

.tgButton:hover {
    background-color: white;
}

.tgButton:hover .tgIcon {
    fill: #f0326b;
}

.textSocial {
    font-family: 'Montserrat';
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.numbText {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.numb {
    font-family: 'Inter';
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
}

@media (min-width: 1200px) and (max-width: 1599px){
    .footer-left-content{
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 14px;
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .footer-left-content{
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 14px;
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .footer-left-content{
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 14px;
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }
}

@media (min-width: 660px) and (max-width: 766px){
    .footer-left-content{
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 14px;
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 659px){
    .footer-left-content{
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 14px;
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }
}

@media (max-width: 575px){
    .footer-left-content{
        display: none;
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 14px;
    }

    .footer-right-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        position: absolute;
        left: 0;
        margin-left: calc(100% - 40%);
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }
}

@media (max-width: 420px){
    .footer-left-content{
        display: none;
        position: absolute;
        left: 0;
        margin-left: calc(100% - 85%);
        color: white;
        font-size: 28px;
    }

    .footer-center-content{
        color: white;
        margin: 170px 0px 0px 0px;
        font-size: 10px;
    }

    .footer-right-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        position: absolute;
        left: 0;
        margin-left: calc(100% - 40%);
    }

    .textSocial {
        font-family: 'Montserrat';
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
    }
    
    .numbText {
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .numb {
        font-family: 'Inter';
        color: white;
        font-weight: 500;
        font-size: 8px;
        text-decoration: none;
        width: 100%;
    }
}