@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
    min-height: 64px;
    height: 5.2vw;
    background: #962A4A;
    font-size: 16px;
}

.btnAuth {
    min-height: 29px;
    min-width: 96px;
    width: 6vw;
    height: 2.6vw;
    background-color: #F5376E;
    opacity: 70%;
    border: 0;
}


.btnText {
    font-size:calc(14px + 2 * (100vw/1903));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width:1199px) {
    .btnText {
        font-size:calc(14px + (2 + 2 * 0.7) * ((100vw - 375px) /1903));
    }
}

.btnAuth:hover, .btnBasket:hover {
    background-color: #ED789A;
    opacity: 60%;
}

.btnAuth:active, .btnBasket:active {
    background-color: #ED789A !important;
    opacity: 60% !important;
}

.btnAuth:hover .btnText {
    color: #fff;
}

.btnAuth:hover .btnIconFill {
    fill: #F64579;
    fill-opacity: 100%;
}

.adressBox {
    width: 10vw;
    height: 2.6vw;
    background-color: #ff709a;
    opacity: 70%;
}


.adressBox:disabled {
    background-color: #ff709a !important;
    opacity: 70% !important;
}

.adressBoxText {
    font-size:calc(11px + 5 * (100vw/1903));
    font-family: 'Montserrat';
    padding-left: 4%;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    opacity: 70%;
}

.adressBoxSvgIcon {
    width: 10%;
}

.adressBoxContent {
    padding-left: 10%;
}

@media (max-width: 1199px) {
    .adressBox {
        display: none !important;
    }
}
.btnBasket {
    height: 2.6vw;
    width: 2.6vw;
    background-color: #F5376E;
    opacity: 70%;
    border: 0;
}

@media (max-width:1499px) {
    .btnBasket {
        width: 50px;
        height: 50px;
        background-color:#962A4A;
        margin-left: 7px !important;
    }
}

.btnBasket:hover .btnBasketFill {
    stroke: #fff;
    stroke-opacity: 0.7;
}

.logo {
    min-width: 50px;
    min-height: 50px;
    width: 4vw;
    height: 4vw;
    color: white;
    text-align: center;
    background-color: #F5376E;
    opacity: 60%;
}

.burgerMenu {
    z-index: 4;
    width: 42px;
    height: 28px;
    display: block;
    position: relative;
    cursor: pointer;
}

.burgerMenu::after, .burgerMenu::before {
    content: '';
    background-color: #FF709A;
    position: absolute;
    width: 29px;
    height: 5px;
    left:0
}

.burgerMenu:hover::after, .burgerMenu:hover::before, .burgerMenu:hover span {
    background-color: #E24A77;
}

.burgerMenu span {
    background-color: #FF709A;
    content: '';
    position: absolute;
    top: 11px;
    width: 42px;
    height: 5px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.burgerMenu::after {
    bottom: 0;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.burgerMenu::before {
    top: 0;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.burgerMenu.open::after {
    transform: rotate(45deg);
    width: 32px;
    bottom: 11.5px;
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burgerMenu.open::before {
    transform: rotate(-45deg);
    width: 32px;
    top: 11.5px;
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burgerMenu.open span {
    transform: scale(0);
}

.closeBtn {
    width: 42px;
    height: 28px;
    display: block;
    position: relative;
    top: -35px;
    cursor: pointer;
}

.closeBtn::after, .closeBtn::before {
    content: '';
    background-color: #D9D9D9;
    position: absolute;
    width: 30px;
    height: 3px;
    left:0
}

.closeBtn::after {
    transform: rotate(45deg);
    bottom: 11px;
    transition: bottom 700ms, transform 300ms ease-out;
}

.closeBtn::before {
    transform: rotate(-47deg);
    top: 13px;
    transition: top 700ms, transform 300ms ease-out;
}

.menuBox {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 99.1vw;
    height: 100vh !important;
    background-color: rgba(0,0,0, .5);
}

.menu {
    font-family: 'Montserrat';
    line-height: 20px;
    min-width: 195px;
    width: 16.4vw;
    height: 100vh;
    background-color: #621B30;
}

.menuTitle {
    position: relative;
    top: 2vw;
    left: 6vw;
    font-weight: 700;
    font-size: calc(14px + 6 * (100vw/1903));
}