@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar1 {
    min-height: 64px;
    height: 5.2vw;
    background: #962A4A;
    font-size: 16px;
}



.btnAuth {
    min-height: 29px;
    min-width: 96px;
    width: 6vw;
    height: 2.6vw;
    background-color: #F5376E;
    opacity: 70%;
    border: 0;
}


.btnText {
    font-size:calc(14px + 2 * (100vw/1903));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255);
}

@media (max-width:1199px) {
    .btnText {
        font-size:calc(14px + (2 + 2 * 0.7) * ((100vw - 375px) /1903));
    }
}

.btnAuth:hover, .btnBasket:hover, .adminBtn:hover {
    background-color: #ED789A;
    opacity: 60%;
}

.btnAuth:active, .btnBasket:active, .adminBtn:active {
    background-color: #ED789A !important;
    opacity: 60% !important;
}

.btnAuth:hover .btnText {
    color: #fff;
}

.btnAuth:hover .btnIconFill, .adminBtn:hover .btnIconFill {
    fill: #F64579;
    fill-opacity: 100%;
}

.adressBox {
    width: 10vw;
    height: 2.6vw;
    background-color: #ff709a;
    opacity: 70%;
}


.adressBox:disabled {
    background-color: #ff709a !important;
    opacity: 70% !important;
}

.adressBoxText {
    font-size:calc(11px + 5 * (100vw/1903));
    font-family: 'Montserrat';
    padding-left: 4%;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    opacity: 70%;
}

.adressBoxSvgIcon {
    width: 10%;
}

.adressBoxContent {
    padding-left: 10%;
}

.menuAdressBox {
    height: 36px !important;
    margin-top: 5vw;
    background-color: #008f39;
}



@media (max-width: 1199px) {
    .adressBox {
        display: none !important;
    }
    .adressBoxText {
        font-size:calc(16px + 2 * (100vw/1903)) !important;
        font-weight: 500 !important;
        color: #fff;
        opacity: 1 !important;
    }
}



.btnBasket {
    height: 2.6vw;
    width: 2.6vw;
    background-color: #F5376E;
    opacity: 70%;
    border: 0;
}

@media (max-width:1499px) {
    .btnBasket {
        width: 50px;
        height: 50px;
        background-color:#962A4A;
        margin-left: 7px !important;
    }
}

.btnBasket:hover .btnBasketFill {
    stroke: #fff;
    stroke-opacity: 0.7;
}

.logo {
    text-decoration: none;
    font-size: calc(16px + 6 * (100vw/1903));
    font-weight: 700;
    color: white;
    text-align: center; 
}

.burgerMenu {
    z-index: 2;
    width: 42px;
    height: 28px;
    display: block;
    position: relative;
    cursor: pointer;
    left: 0;
}

.burgerMenu::after, .burgerMenu::before {
    content: '';
    background-color: #FF709A;
    position: absolute;
    width: 29px;
    height: 5px;
    left:0;
}

.burgerMenu:hover::after, .burgerMenu:hover::before, .burgerMenu:hover span {
    background-color: #E24A77;
}

.burgerMenu span {
    background-color: #FF709A;
    content: '';
    position: absolute;
    top: 11px;
    width: 42px;
    height: 5px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.burgerMenu::after {
    bottom: 0;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.burgerMenu::before {
    top: 0;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.burgerMenu.open::after {
    transform: rotate(45deg);
    width: 32px;
    bottom: 11.5px;
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.burgerMenu.open::before {
    transform: rotate(-45deg);
    width: 32px;
    top: 11.5px;
    transition: left 300ms, top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burgerMenu.open span {
    transform: scale(0);
}

.menuBox {
    z-index: 1;
    width: 15vw !important;
    background-color:#621B30;
    opacity: .9;
}

@media (max-width: 1310px) {
    .menuBox {
        width: 200px !important;
    }
}

.menuBodyBox {
    z-index: 1;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 4vw;
}


.offcanvas-backdrop {
    z-index: 1;
    opacity: 35% !important;
}

.menuItemMarker {
    background-color: white;
    width: 2px;
    height: 2px;
    transition: height 200ms ease-in-out;
}

.menuItem {
    font-size:calc(16px + 4 * (100vw/1903));
    width: fit-content;
    margin-bottom: 2.5vw;
}
.menuItem:hover .menuItemMarker {
    height: calc(16px + 4 * (100vw/1903));
    transition: height 200ms ease-in-out;
}

.sepLineMenu {
    margin: auto;
    margin-top: 1vw;
    height: 2px;
    width: 90%;
    background-color: white;
    opacity: .6;
}

.menuHotLine {
    font-size: calc(14px + 6 * (100vw/1903));
}

.menuPhoneNum {
    font-weight: 400;
    font-size: calc(14px + 6 * (100vw/1903));   
}

.menuSocWebText {
    font-size: calc(14px + 6 * (100vw/1903));   
}

@media(max-width:1199px) {
    .menuNav {
        margin-top: 30px;
    }
}


.btnLogOut {
    text-align: center;
    min-height: 29px !important;
    min-width: 60px !important;
    width: 5vw !important;
    height: 2.6vw !important;
}


.btnLogOutText {
    font-size:calc(14px + 3 * (100vw/1903));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255);
}

@media (max-width:1199px) {
    .btnLogOutText {
        font-size:calc(14px + (3 + 3 * 0.7) * ((100vw - 375px) /1903));
    }
}

@media (max-width: 499px) {
    .btnLogOut {
        display: none !important;
    }
}

.adminBtn {
    display: none !important;
    
}

.btnAdmin {
    width: 7vw;
}

@media (max-width:1199px) {
    .adminBtn {
        display: block !important;
        width: 50px;
        height: 50px;
        background-color:#962A4A;
        margin-left: 7px !important;
        border: 0;
    }
    .btnAdmin {
        display: none !important;
    }
}

.modal-content {
    margin: auto;
    margin-top: 100px;
    
    width: 23vw;
    background-color: #E9E9E9;
    font-size: calc(16px + 4 * (100vw/1903));
    font-weight: bold;
    border-radius: 19px;
}

@media screen and (max-width: 1350px) {
    .modal-content {
        width: 300px;
    }
}

.formPhoneBox, .formPasswordBox {
    min-width: 240px;
    width: 20vw;
    font-size: calc(14px + 2 * (100vw/1903));
    font-weight: bold;
}

.formPhone, .formPassword {
    min-height: 1.6vw;
}

.formAuthBtn {
    min-width: 155px;
    width: 18vw;
    min-height: 1.6vw;
    background-color: #D9D9D9;
    color: black;
    font-size: calc(14px + 2 * (100vw/1903));
    font-weight: bold;
}

.formAuthBtn:hover {
    background-color: #c1c1c1 !important;
    color: black;
}

.formAuthBtn:active {
    color: black !important;
}

.formLinkBox {
    min-width: 290px;
    width: 18vw;
    font-size: calc(12px + 4 * (100vw/1903));
    font-weight: bold;
}

.checkCodeBox {
    min-width: 150px;
    width: 10vw;
    font-size: calc(18px + 2 * (100vw/1903));
    font-weight: bold;
}

.formCheckCode {
    min-height: 2vw;
}

.formCheckCodeBtn {
    min-width: 155px;
    width: 18vw;
    min-height: 1.6vw;
    background-color: #D9D9D9;
    color: black;
    font-size: calc(14px + 2 * (100vw/1903));
    font-weight: bold;
}

.formCheckCodeBtn:hover, .passwordRecovBtn:hover {
    background-color: #c1c1c1 !important;
    color: black;
}

.formCheckCodeBtn:active, .passwordRecovBtn:active {
    color: black !important;
}

.timer {
    width: 2vw;
    height: 2vw;
    font-size: calc(24px + 4 * (100vw/1903));
    font-weight: bold;
}

.passwordRecovBtn {
    width: 15vw;
    height: 1.6vw;
    background-color: #D9D9D9;
    color: black;
    font-size: calc(14px + 2 * (100vw/1903));
    font-weight: bold;
}

.searchString {
    display: none;
}

.acceptCloseBtn {
    width: 20px;
    height: 20px;
    top: -20px;
}

.acceptCloseBtn::after, .acceptCloseBtn::before {
    content: '';
    background-color: #D9D9D9;
    position: absolute;
    width: 25px;
    height: 3px;
    cursor: pointer;
}

.acceptCloseBtn::after {
    transform: rotate(45deg);
    bottom: 5;
}

.acceptCloseBtn::before {
    transform: rotate(-45deg);
    top: 10;
}