@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    height: 100%;
}

.slider{
    min-width: 0;
}

.slider_section_mobile{
    min-width: 0;
    display: none;
}

.store-main{
    display: flex;
    flex-direction: column;
    min-height: 3000px;
}

.store-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


.showcase {
    font-family: 'Montserrat';
    font-size: 30px;
    margin: 15px 0px 15px 0px;
}

.sections {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    width: auto !important;
    height: auto !important;
    transition: transform .1s linear;
    margin-top: 3vh;
    margin-bottom: 3vh;
}


.button-section {
    background-color: #EEEEEE;
    border: 0;
    margin-left: 15px;
    margin-right: 15px;
    width: 350px;
    height: 50px;
    border-radius: 29vh;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    align-content: center;
    color: #962A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-section:hover {
    background-color: #FF709A;
    color: #ffffff;
}

.button-section:active {
    background-color: #962A4A !important;
    opacity: 90%;
}


.meat-section-content {
    background-image: url("../assets/meat-bg.png");
    width: 100% !important;
    height: auto;
}

.meat-header {
    font-family: 'Montserrat';
    font-weight: 500;
}

.products-bg{
    background-color: rgba(64, 64, 64, 0.5);
}

@media (max-width: 575px)  {
    .sections {
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #ffffff !important;
        margin-top: 0.2vh;

    }

    .slider_section_mobile{
        display: block;
    }

    .showcase {
        font-family: 'Montserrat';
        font-size: 30px;
        margin: 15px 0px 15px 0px;
    }

    .button-section {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        background-color: #EEEEEE;
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 29vh;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        flex-wrap: wrap;
        align-content: center;
        color: #962A4A;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 659px) {
    .sections {
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #ffffff !important;
        margin-top: 0.2vh;

    }

    .slider_section_mobile{
        display: block;
    }

    .showcase {
        font-family: 'Montserrat';
        font-size: 30px;
        margin: 15px 0px 15px 0px;
    }

    .button-section {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        background-color: #EEEEEE;
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 29vh;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        flex-wrap: wrap;
        align-content: center;
        color: #962A4A;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 660px) and (max-width: 766px) {
    .sections {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #ffffff !important;
        margin-top: 0.2vh;
    }

    .slider_section_mobile{
        display: none;
    }

    .showcase {
        font-family: 'Montserrat';
        font-size: 30px;
        margin: 15px 0px 15px 0px;
    }

    .button-section {
        width: 200px;
        margin-top: 20px;
        background-color: #EEEEEE;
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 29vh;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 18px;
        flex-wrap: wrap;
        align-content: center;
        color: #962A4A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header_otdel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 50px;
        color: rgb(0, 0, 0);
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-width: 100vh black;
        border-top: 2px solid #0000007a;
        border-bottom: 2px solid #0000007a;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sections {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #ffffff !important;
        margin-top: 0.2vh;
    }

    .slider_section_mobile{
        display: none;
    }

    .showcase {
        font-family: 'Montserrat';
        font-size: 30px;
        margin: 15px 0px 15px 0px;
    }

    .button-section {
        width: 250px;
        margin-top: 20px;
        background-color: #EEEEEE;
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 29vh;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 18px;
        flex-wrap: wrap;
        align-content: center;
        color: #962A4A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .sections {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #ffffff !important;
        margin-top: 0.2vh;
    }

    .slider_section_mobile{
        display: none;
    }

    .showcase {
        font-family: 'Montserrat';
        font-size: 30px;
        margin: 15px 0px 15px 0px;
    }

    .button-section {
        width: 250px;
        margin-top: 20px;
        background-color: #EEEEEE;
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 29vh;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 18px;
        flex-wrap: wrap;
        align-content: center;
        color: #962A4A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 1200px) and (max-width: 1599px) {
    .sections {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #ffffff !important;
        margin-top: 0.2vh;
    }

    .slider_section_mobile{
        display: none;
    }

    .showcase {
        font-family: 'Montserrat';
        font-size: 30px;
        margin: 15px 0px 15px 0px;
    }

    .button-section {
        width: 250px;
        margin-top: 20px;
        background-color: #EEEEEE;
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 29vh;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 18px;
        flex-wrap: wrap;
        align-content: center;
        color: #962A4A;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}