.error_body{
    display: flex;
    min-width: 100%;
    background: url("../../assets/profile-bg.svg");
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: calc(18px + 4 * (100vw/1903));
    font-weight: 400;
}

.error_content{
    margin: 20px;
}